.user-input-form {
  min-width: 40%;
  max-width: 60%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1%;
}

.user-input-field {
  width: 100%;
  padding-right: 5%;
}

.user-input-label {
  color: blue;
}

.user-input-button {
}

.user-input-card {
  background-color: silver;
}
