<mat-toolbar color="primary">

  <mat-toolbar-row class="toolbar-row">

    <span>Username</span>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>User</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings_applications</mat-icon>
          <span>Settings</span>
        </button>
        <button (click)="onLogout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Exit</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-button-toggle-group class="button-toggle-group" #group="matButtonToggleGroup">
  <mat-button-toggle (click)="onChangeContent(TRIGGER_FETCH_FRIENDS)" value="Add contacts" class="button-toggle">
    <mat-icon>person_add_alt_1</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="onChangeContent(TRIGGER_CHAT)" value="Chat" class="button-toggle">
    <mat-icon>comment</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="onChangeContent(TRIGGER_CONTACTS)" value="Contacts" class="button-toggle">
    <mat-icon>contacts</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="onChangeContent(TRIGGER_NOTIFICATION)" value="Notifications" class="button-toggle">
    <mat-icon>notifications</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<mat-list class="selected-value-menu">{{group.value}}</mat-list>
