.wrapper-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 1% 2%;
  margin: 2% 2%;
}

.wrapper-account-user {
  display: flex;
  align-items: center;
}

.contacts-loading-spinner {

}

.contacts-loading-spinner-wrapper {
  display: flex;
  justify-content: center;
}

.login-account-user {
  padding-left: 5%;
}

.image-account-user {
  width: 10%;
  height: auto;
}

.add-friend-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-friend-button {
  margin: 0 2%;
}

.skip-friend-button {
  margin: 0 2%;
}

.user-input-form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2%;
}

.user-input-field {
  width: 100%;
}

.user-input-label {
  text-align: center;
  color: blue;
}

.user-input-button {
}

.user-input-card {
}

.user-input {
}
