.wrapper-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 1% 2%;
}

.wrapper-account-user {
  display: flex;
  align-items: center;
}

.login-account-user {
  padding-left: 5%;
}

.image-account-user {
  width: 10%;
  height: auto;
}

.add-friend-button {
  align-items: end;
}
