.image-account-user {
  max-width: 10%;
  height: auto;
}

.wrapper-list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.login-account-user {
  padding-left: 5%;
  font-size: xx-large;
}

.wrapper-header-list {
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
