<mat-card *ngIf="currentContact.login !== undefined; else user" class="wrapper-header-list">
  <mat-card class="wrapper-list">
    <img class="image-account-user" src="{{currentContact.profilePicture === undefined ? defaultImage : currentContact.profilePicture}}" alt="image_{{currentContact.login}}">
    <span class="login-account-user">{{currentContact.login}}</span>
  </mat-card>
</mat-card>
<ng-template #user>
  <mat-card class="wrapper-header-list">
    <mat-card class="wrapper-list">
      <img class="image-account-user" src="{{currentUser.profilePicture === undefined ? defaultImage : currentUser.profilePicture}}" alt="image_{{currentUser.login}}">
      <span class="login-account-user">{{currentUser.login}}</span>
    </mat-card>
  </mat-card>
</ng-template>
