<div class="msg-card-wrapper" *ngFor="let item of result">
  <mat-card class="msg-user" *ngIf="item.ownerLogin === userName; else notUser">
    <mat-card-header>
      <div mat-card-avatar class="header-image-user"></div>
      <mat-card-title>{{userName}}</mat-card-title>
      <mat-card-subtitle>{{item.created}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{item.text}}</mat-card-content>
  </mat-card>
  <ng-template #notUser>
    <mat-card class="msg-friend">
      <mat-card-header>
        <div mat-card-avatar class="header-image-user"></div>
        <mat-card-title>{{item.ownerLogin}}</mat-card-title>
        <mat-card-subtitle>{{item.created}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{item.text}}</mat-card-content>
    </mat-card>
  </ng-template>
</div>
