<div class="start-menu">

  <mat-toolbar color="primary">
    <h1>START MENU</h1>
  </mat-toolbar>

  <mat-card>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle checked (change)="onChangeSingup()" value="italic">Sign up</mat-button-toggle>
      <mat-button-toggle (change)="onChangeLogin()" value="italic">Log in</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-card *ngIf="login">
      <form>
        <mat-form-field>
          <mat-label>Log in</mat-label>
          <input matInput [(ngModel)]="valueLogin" [ngModelOptions]="{ standalone: true }">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="valuePassword" [ngModelOptions]="{ standalone: true }">
        </mat-form-field>
      </form>
      <button (click)="onLogin()" [disabled]="valueLogin.length < 1 || valuePassword.length < 1" mat-raised-button color="primary">LOGIN</button>
    </mat-card>

    <mat-card *ngIf="singup">
      <form>
        <mat-form-field>
          <mat-label>Log in</mat-label>
          <input matInput required [(ngModel)]="valueLogin" [ngModelOptions]="{ standalone: true }">
          <mat-hint>minimum 5 characters</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput required [(ngModel)]="valuePassword" [ngModelOptions]="{ standalone: true }">
          <mat-hint>minimum 8 characters</mat-hint>
        </mat-form-field>
      </form>
      <button (click)="onSingup()" [disabled]="valueLogin.length < 5 || valuePassword.length < 8" mat-raised-button color="primary">SINGUP</button>
    </mat-card>

  </mat-card>

</div>
