<app-content-wrapper *ngIf="getActions(TRIGGER_FETCH_FRIENDS)"
                     [contentItem]="arrayItems"></app-content-wrapper>
<app-content-wrapper *ngIf="getActions(TRIGGER_CHAT)"
                     [contentItem]="arrayItems"></app-content-wrapper>
<app-content-wrapper *ngIf="getActions(TRIGGER_CONTACTS)"
                     [contentItem]="arrayItems"></app-content-wrapper>
<app-content-wrapper *ngIf="getActions(TRIGGER_NOTIFICATION)"
                     [contentItem]="arrayItems"></app-content-wrapper>

